{% extends 'base.html.twig' %}

{% block title %}Modification de pointures{% endblock %}

{% block body %}
    <h1>Modifier une taille</h1>

    {{ include('size/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('size_index') }}">Retour à la liste</a>

    {{ include('size/_delete_form.html.twig') }}
{% endblock %}
