{% extends 'base.html.twig' %}

{% block title %}ajout de taille{% endblock %}

{% block body %}
    <h1>Ajouter une pointure</h1>

    {{ include('size/_form.html.twig') }}

    <a href="{{ path('size_index') }}">Retour à la liste</a>
{% endblock %}
