<form method="post" action="{{ path('color_delete', {'id': color.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette couleur?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ color.id) }}">
    <button class="btn">Supprimer</button>
</form>
